.container{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 275px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 15px;
}

.menuIcon{
    width: 38px;
    height: 24px;
}

.flexColumn{
    display: flex;
    flex-flow: column;
}

.wrapperOption{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    font-family: Source Sans Pro;
    line-height: 24px;
}
.wrapperOption:hover{
    background-color: #b1b1b1;
}

.subMenu{
    width: 80%;
}

h3{
    cursor: auto;
    color: #B378FF;
}
hr{
    border: 1px solid #E4E4E4;
}