@media (min-width: 930px) and (max-width: 4000px) {
    .img{
        width: 100%;
        height: inherit;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgDisplayFlexRow{
        width: 50%;
        height: inherit;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .displayFlexRow{
        display: flex;
        height: inherit;
        width:"99%"; 
        height:"100%";
    }

    .displayFlexRow:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #F778B9;
    }

    .displayFlexColumn{
        height: inherit;
        display: flex;
        flex-flow: column;
        width:"99%"; 
        height:"100%";
    }

    .displayFlexColumn:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #F778B9;
    }

    .titleCard{
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
    }
}


@media (max-width: 930px) {
    .img{
        width: 100%;
        height: inherit;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgDisplayFlexRow{
        width: 100%;
        height: inherit;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .displayFlexRow{
        display: flex;
        flex-flow: column;
        height: inherit;
    }

    .displayFlexColumn{
        height: inherit;
        display: flex;
        flex-flow: column;
    }

}